<body class="document">
    <div class="header">
        <div class="header__top">
            <div class="header__top__button">
                <h2 class="header__top__title">sample SNS</h2>
                <%= link_to "アカウント作成", new_user_registration_path, class: "button signup" %>
                <%= link_to "ログイン", new_user_session_path, class: "button login"%>
            </div>
        </div>
        <div class="header__search">
            <form class="header__search__form">
                <div class="formarea">
                    <input class="form-input" type="text" id="search-name" placeholder="ユーザー名を入力してください"/>
                    <button type="submit" class="icon icon--search">
                      <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
      </div>
        <div class="main">
            <div class="main__timeline">
                <div class="main__timeline__contents sample1">
                      <div class="main__timeline__contents__image">
                        画像
                      </div>
                      <div class="main__timeline__contents__user">
                        <a class="user__header">
                          <image>画
                          </image>
                          <strong class="username">
                            kuwabara
                          </strong>
                        </a>
                        <small class="time">２月７日
                        </small>
                      </div>
                      <div class="main__timeline__contents__text">
                        テキストテキストテキスト
                      </div>
                      <div class="main__timeline__contents__action">
                        アクション 返信　いいね
                      </div>
                </div>
                <div class="main__timeline__contents sample2">
                </div>
                <div class="main__timeline__contents sample3">
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </body>
