<body class="document">
  <div class="header__top">
    <div class="header__top__button">
      <%= link_to "sample SNS", root_path, class: "header__top__title" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button logout" %>
    </div>
  </div>
</body>
