.document {
    // background-image: url("/images/retina_wood.png");
    background-color: rgb(230, 188, 150);

    color: #292f33;
    font-size: 14px;
    line-height: 18px;
    overflow-y: scroll;
    height: 100%;
    min-height: 1230px;
    width: 100%;
    display: block;
}

.alert,
.notice {
    text-align: center;
    line-height: 1.5;
    background: #fff;
    font-size: 18px;
}

.button {
    background: transparent;
    border-color: currentcolor;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    line-height: normal;
    margin: 0;
    padding: 0.4em 0.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    white-space: normal;
}

.icon {
    background: transparent;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    position: relative;
    cursor: pointer;
}

.header {
    background-color: #fff;
    box-sizing: content-box;
    z-index: 1000;
}

.header__top {
    background-color: #afa1a1;
    height: 75px;
    position: relative;
}

.header__top__button {
    color: #fff;
    margin: 0 auto;
    padding-top: 15px;
    text-align: right;
    width: 95%;
    min-width: 650px;
}

.back,
.content__right__tweet__tweet-box__form__toolbar__button__send,
.edit,
.login,
.logout,
.mypage,
.signup {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 16px;
    font-weight: 200;
    padding: 10px 35px;
    margin-left: 8px;
}

.back:hover,
.edit:hover,
.login:hover,
.logout:hover,
.mypage:hover,
.signup:hover {
    background: #fff;
    color: #afa1a1;
}

.header__top__title {
    position: relative;
    color: #fff;
    font-family: cursive;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: -5px;
    font-size: 40px;
    text-decoration: none;
    display: inline-block;
    float: left;
}

.header__search {
    background-color: #fff;
    margin: 0 auto;
    max-width: 600px;
    padding-top: 10px;
    position: relative;
    transition: all 100ms ease-in;
    width: 95%;
}

.header__serach__form {
    position: relative;
}

.fromarea {
    position: relative;
}

.form-input {
    background-color: #edf0f3;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px 25px;
    width: 100%;
}

.icon--search {
    color: #a8b6c0;
    font-size: 20px;
    height: 40px;
    width: 45px;
    position: absolute;
    top: 15px;
    right: 5px;
    border-style: none;
}

.main {
    width: 90%;
    max-width: 1340px;
    margin: 50px auto;
}

.main__timeline {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main__timeline__contents {
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    border-radius: 6px;
    box-shadow: 2px 3px 2px rgba(34, 25, 25, 0.4);
    margin: 0 15px 15px;
    padding: 15px;
    width: 380px;
}

.main__timeline__contents__image {
    height: 150px;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    overflow: auto;
    border-radius: 4px;
}

.comment-image,
.tweet-index-image {
    display: block;
    border-radius: 4px;
}

.main__timeline__contents__user:after {
    margin-bottom: 10px;
    position: relative;
    margin-left: 0;
    margin-right: 5px;
    width: 100%;
    content: "";
    clear: both;
    display: block;
}

.main__timeline__contents__user__header__image {
    height: 50px;
    width: 50px;
    overflow: auto;
    float: left;
}

.userpage-link {
    text-decoration: none;
}

.userpage-link:hover {
    text-decoration: underline;
}

.main__timeline__contents__text {
    width: 100%;
    margin-bottom: 10px;
}

.main__timeline__contents__action {
    width: 100%;
}

.fa-mail-reply {
    font-size: 18px;
    line-height: normal;
    color: #808080;
}
