@media only screen and (min-width: 960px) {
  .pc-notice {
    position: absolute;
    width: 100vw;
    height: 6000px;
    background-color: #f4f4f4;
    // position: relative;
  }

  .app-name {
    position: absolute;
    left: 0;
    right: 0;
    top: -93%;
    bottom: 0;
    margin: auto;
    width: 30%;
    height: 100px;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    background-color: #9cc76d;
  }

  .guide {
    position: absolute;
    left: 0;
    right: 0;
    top: -88%;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    color: black;

  }

  * {
    margin: 0;
    padding: 0;
  }
}

// ーーーースマホ用スタイルーーーーーー

@media only screen and (max-width: 959px) {
  .pc-notice {
    display: none;
  }

  html {
    font-size: 62.5%;
    background: #f4f4f4;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .cf::after {
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    content: "";
  }

  .document {
    background-color: #f4f4f4;
    width: 100%;
  }

  .menu-overlay {
    z-index: 95;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.65);
  }

  .modal-overlay {
    z-index: 55;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #9cc76d;
    z-index: 100;
  }

  .header-top-button, .devise-container, .page-canvas, .signup-wrapper {
    width: 100%;
  }

  .header-top-button {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .side-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    background-color: #eeeeee;
    z-index: 100;
  }

  .side-menu-image {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
  }

  .side-menu-image .profile-no-image {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.2);
  }

  .side-menu-image p {
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 260px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
  }

  .side-menu li:nth-of-type(n+2){
    height: 75px;
    width: 260px;
  }

  .side-menu-link {
    position: relative;
    width: 260px;
    height: 75px;
    display: block;
  }

  .side-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 75px;
    background-color: #eeeeee;
    float: left;
  }

  .side-menu ul li h2 {
    float: left;
    width: 200px;
    height: 75px;
    line-height: 75px;
    font-size: 1.8rem;
  }

  .header-menu-button {
    width: 55px;
    height: 55px;
    background-color: inherit;
    position: absolute;
    transition: all .4s;
    z-index: 105;
  }

  .header-menu-button span {
    display: inline-block;
    position: absolute;
    left: 10px;
    width: 35px;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
    transition: all .4s;
  }

  .header-menu-button span:nth-of-type(1) {
    top: 12px;
  }

  .header-menu-button span:nth-of-type(2) {
    top: 25px;
  }

  .header-menu-button span:nth-of-type(3) {
    top: 38px;
  }

  .header-menu-button.open span:nth-of-type(1) {
    transform: translateY(12px)  rotate(-45deg);
  }
  .header-menu-button.open span:nth-of-type(2) {
    opacity: 0;
  }
  .header-menu-button.open span:nth-of-type(3) {
    transform: translateY(-14px) rotate(45deg);
  }

  .header-menu-button.open, .header-menu-button.open span {
    z-index: 105;
  }

  .header-top-title {
    display: block;
    height: 100%;
    width: 40%;
    margin: 0 auto;
  }

  .header-top-title h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.3rem;
    color: #ffffff;
  }

  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    position: absolute;
    top:0;
    right: 0;
    background-color: inherit;
  }

  .search-button .fa-color {
    color: #fff;
  }

  .post-button, .comment-button {
    width: 96%;
    height: 70px;
    background-color: #f6f0fa;;
    margin: 15px auto;
  }

  .comment-button {
    margin: 10px auto;
  }

  .post-content-wrap, .comment-content-wrap {
    position: relative;
  }

  .user-image {
    position: absolute;
    top: 3px;
    left: 10px;
    width: 45px;
    height: 45px;
    float: left;
    margin: 10px 0 10px 0;
    overflow: hidden;
    border-radius: 3px;
  }

  .user-image .profile-thumb-no-image {
    width: 45px;
    height: 45px;
  }

  .post-text, .comment-text {
    position: absolute;
    top: 0;
    left: 70px;
    width: 75%;
    height: 50px;
    background-color:inherit;
    margin: 10px 0 10px 0;
  }

  .post-text p, .comment-text p {
    color: #a3a1a1;
    height: 50px;
    line-height: 50px;
    font-size: 2.0rem;
  }

  .post-icon, .comment-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #9cc76d;
    margin: 10px 0 10px 0;
    border-radius: 50px;
  }

  .post-icon .fa-pencil {
    color: #fff;

  }

  .fa-color {
    color: #9cc76d;
  }

  .main {
    margin-top: 65px;
  }

  .main-timeline, .main-tweet-detail {
    width: 100%;
  }

  .main-timeline-contents-wrapper {
    margin-bottom: 10px;
  }

  .main-timeline-contents {
    width: 96%;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    background-color: #ffffff;
  }

  .main-timeline-contents-user {
    width: 95%;
    margin: 0 auto 10px auto;
  }

  .main-timeline-contents-user-header {
  }

  .main-timeline-contents-user-header-image {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-top: 2px;
    border-radius: 3px;
  }

  .profile-thumb-no-image {
    width: 40px;
    height: 40px;
  }

  .main-timeline-contents-user-header-name {
    font-size: 1.6rem;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    margin-left: 5px;
    float: left;
  }

  .main-timeline-contents-user-header-time {
    float: right;
    height: 45px;
    font-size: 1.1rem;
    line-height: 45px;
    color: #a9a9a9;
  }

  .main-timeline-contents-text {
    width: 95%;
    font-size: 1.5rem;
    margin: 0 auto 10px auto;
  }

  .main-timeline-contents-image {
    width: 95%;
    margin: 0 auto 10px auto;
    overflow: hidden;
  }

  .main-timeline-contents-action {
    width: 95%;
    margin: 0 auto;
  }

  .fa-reply {
    color: #9cc76d;
  }

  .tweet-destroy, .comment-destroy {
    float: right;
  }

  .post-icon-fixed {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #9cc76d;
    margin: 10px 0 10px 0;
    border-radius: 50px;
  }

  .post-icon-fixed .fa-pencil {
    color: #fff;
  }

  // スマホツイート・コメント投稿フォーム

  .post-form-content, .comment-form-content {
    display: none;
    position: absolute;
    top: 10px;
    left: 2%;
    right: 2%;
    z-index: 200;
    width: auto;
    background-color: #f1f1f1;
  }

  .post-form-area, .comment-form-area {
    margin: 10px;
  }

  .form-user-info {
    width: 100%;
    margin-bottom: 10px;
  }

  .form-user-info-img {
    width: 30px;
    height: 30px;
    float: left;
  }

  .form-comment-to {
    height: 100%;
    display: flex;
    justify-content: center;
    float: left;
  }

  .form-comment-to p {
    font-size: 1.2rem;
    margin-top: 4px;
    color: #7a7a7a;
  }

  .cansel-button {
    height: 100%;
    text-align: right;
    float: right；
  }

  .fa-widow-close {
  }

  .post-form-box-text, .comment-form-box-text {
    width: 100%;
    height: 150px;
    clear: both;
    box-sizing: border-box;
  }

  .post-form-box-text #tweet_text, .comment-form-box-text #comment_text {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    resize: none;
  }

  .post-form-box-toolbar, .comment-form-box-toolbar {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
  }

  .psto-form-box-toolbar-button-image, .comment-form-box-toolbar-button-image {
    display: inline-block;
    width: 80px;
    float: left;
  }

  .image-file-field {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .post-form-box-toolbar-button,
  .comment-form-box-toolbar-button {
    width: 30%;
    height: 40px;
    display: inline-block;
    float: right;
    border-radius: 3px;
    text-align: center;
  }

  .comment-form-box-toolbar-button {
    width: 30%;
  }

  .post-form-box-toolbar-button-send,
  .comment-form-box-toolbar-button-send {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #9cc76d;
    border-style: none;
    font-size: 1.7rem;
    border-radius: 3px;
  }

  .post-form-box-toolbar-button-send[disabled],
  .comment-form-box-toolbar-button-send[disabled] {
    opacity: 0.4;
  }

  .post-form-box-toolbar-button-image, .comment-form-box-toolbar-button-image {
    position: relative;
    width: 70%;
  }

  .change-image {
    position: absolute;
    display: inline-block;
    font-size: 1.1rem;
    width: 40%;
    height: 18px;
    left: 50px;
    color: #fff;
    bottom: 10px;
    line-height: 18px;
    text-align: center;
    background-color: #9cc76d;
    border-radius: 4px;
  }

  .post-form-box-toolbar-button .fa-pencil, .comment-form-box-toolbar-button .fa-commenting {
    color: #fff;
    line-height: 40px;
  }

  .selected-image {
    display: none;
    margin: 0 10px 5px 10px;
    overflow: hidden;
  }

  .thumb {
    max-height: 200px;
  }

  //スマホツイート詳細画面

  .page-comment-container {
    margin: 65px 0;
    overflow: scroll;
  }

  .main-comment-detail {
    width: 100%;
    height: 200px;
  }

  .main-timeline-contents-wrapper h2 {
    width: 96%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    font-size: 1.6rem;
  }

  .comment-list li {
    border-top: 1px solid #f4f4f4;
  }

  .comment-button {
    position: fixed;
    bottom: 0;
    left: 2%;
    right: 2%;
    width: auto;
    background-color: #f6f0fa;
  }

  .comment-text {
    background-color: inherit;
  }

  .comment-icon {
    background-color: inherit;
  }

}
